<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/meta') %>
</head>

<body>
    <%- include('../layouts/admin-sidebar') %>

        <div id="content">
            <%- include('../layouts/navbar') %>

                <div class="container">
                    <div class="box-nav d-flex justify-between">
                        <div class="filter">
                            <a href="/admin/manage/teachers"><i class="fas fa-angle-double-left"></i> Tất cả giáo viên</a>
                        </div>
                    </div>
                    <div class="form-title text-center">
                        <h2 class="text-dark">Giao viên mới</h2>
                        <span class="text-dark">Sử dụng biểu mẫu dưới đây để tạo giáo viên mới</span>
                    </div>

                    <div class="col-md-5">
                        <div>


                            <!-- add internship-unit form -->
                            <form action="/admin/manage/teachers" method="POST" id="add_teacher">
                                <div>
                                    <div class="mb-3">
                                        <label for="ms" class="form-label">Mã số cán bộ</label>
                                        <input type="hidden" name="id" value="">
                                        <input type="text" class="form-control" name="ms" value="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Họ tên</label>
                                        <input type="text" class="form-control" name="name" value="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="idMajor" class="form-label">Mã ngành</label>
                                        <input type="text" class="form-control" name="idMajor" value="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" class="form-control" name="email" value="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="text" class="form-control" name="password" value="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="phone" class="form-label">Phone</label>
                                        <input type="text" class="form-control"name="phone" value="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="role" class="form-label">Vai trò</label>
                                        <input type="text" class="form-control" name="mentorName" value="Giáo viên">
                                    </div>
                                    <div class="group-btn">
                                        <input type="submit" class="btn btn-sub mr-4" value="Gửi" />
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
        </div>

        <%- include('../layouts/script') %>
</body>

</html>