<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/meta') %>
  </head>
  <body>
    <%- include('../layouts/admin-sidebar') %>

    <div id="content">
      <%- include('../layouts/navbar') %>



      <!-- Thông tin sinh viên -->
      <div class="card border-black card-content">
        <div class="card-header">
          <h5 class="card-title">Thông tin sinh viên</h5>
        </div>
        <div class="card-body">
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Mã số sinh viên</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">B1704814</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Họ và tên</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">Tran Thanh Huy</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Mã lớp</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">DI1796A2</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Ngành học</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">Kỹ thuật phần mềm</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Số điện thoại</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">0865791317</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Thông tin đơn vị thực tập -->
      <div class="card border-black card-content">
        <div class="card-header">
          <h5 class="card-title">Thông tin đơn vị thực tập</h5>
        </div>
        <div class="card-body">
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Tên đơn vị thực tập</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">Công ty TechCome</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Địa chỉ</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">123 Khu công nghệ cao, Đại học Quốc gia TP HCM</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Số điện thoại</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">01234423442</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Website</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">www.techcome.com</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Số buổi thực tập trong tuần</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">6 buổi/tuần</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Có phòng làm việc</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">Có</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Có máy tính</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">Không</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Yêu cầu của công ty thực tập</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">GPA > 3.0</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Hổ trợ của đơn vị thực tập</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">3 000 000 VND/tháng</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Thông tin người hướng dẫn -->
      <div class="card border-black card-content">
        <div class="card-header">
          <h5 class="card-title">Thông tin người hướng dẫn</h5>
        </div>
        <div class="card-body">
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Tên người hướng dẫn</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">Phan Văn C</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Số điện thoại</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">0987123332</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Email</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">phanvanc@techcome.com</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Thông tin công việc theo tuần -->
      <div class="card border-black card-content">
        <div class="card-header">
          <h5 class="card-title">Thông tin công việc theo tuần</h5>
        </div>
        <div class="card-body">
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Tuần 1</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">Tìm hiểu quy trình làm việc của công ty</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Tuần 2</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">Xem các dự án mẫu của công ty</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Tuần 3</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">Thực hiện các dự án công ty giao</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Tuần 4</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">Thực hiện các dự án công ty giao</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Tuần 5</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">Thực hiện các dự án công ty giao</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Tuần 6</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">Thực hiện các dự án công ty giao</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Tuần 7</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">Thực hiện các dự án công ty giao</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Tuần 8</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted">Viết báo cáo cuối đợt thực tập</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Trạng thái -->
      <div class="alert alert-warning" role="alert">
        <strong>Chờ xét duyệt</strong>
      </div>

      <!-- Button -->
      <div class="m-auto" style="width: fit-content">
        <button class="m-2 btn btn-info">Xét duyệt</button>
        <button class="m-2 btn btn-secondary">Hủy bỏ</button>
      </div>
    </div>

    <%- include('../layouts/script') %>
  </body>
</html>
