<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
    <img src="/img/employee.svg" alt="logo" width="42">
    <h3 class="mt-3">InternshipM</h3>
  </div>
  <hr class="separate-line">

  <ul class="list-unstyled components">
    <li>
      <a href="#mgmSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Quản lý</a>
      <ul class="collapse list-unstyled" id="mgmSubmenu">
        <li>
            <a href="/admin">Đơn vị thực tập</a>
        </li>
        <li>
            <a href="/admin/manage/teachers">Giáo viên</a>
        </li>
        <li>
            <a href="/admin/manage/students">Sinh viên</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#internshipSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Thực tập thực tế</a>
      <ul class="collapse list-unstyled" id="internshipSubmenu">
        <li>
            <a href="#">Xét duyệt điểm thực tập</a>
        </li>
        <li>
            <a href="#">Phân công thăm sinh viên</a>
        </li>
        <li>
            <a href="#">Danh sách sinh viên thực tập</a>
        </li>
      </ul>
    </li>
  </ul>

  <hr class="separate-line">
  
</nav>