<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="mr-auto">
      <button type="button" id="sidebarCollapse" class="btn btn-collapse">
        <i class="fas fa-sliders-h"></i>
      </button>
      <span class="normal-text ml-3"><%= roleName %> / <%= urlInfo %></span>
    </div>

    <div class="avatar ml-auto">
      <div class="dropdown">
        <button href="#" class="btn-img" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="m-1" src="/img/default.jpg" alt="avatar">
          <span class="mr-2 black-text">Tran Thanh Huy</span>
        </button>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="dropdownMenuButton"
        >
          <a class="dropdown-item" href="#">
            <i class="far fa-user text-muted"></i>
            <span class="text-muted ml-2">Tài khoản</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-sign-out-alt text-muted"></i>
            <span class="text-muted ml-2">Đăng xuất</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<button id="scrollToTop" title="Go to top">
  <i class="fas fa-arrow-up"></i>
</button>
