<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
    <img src="/img/employee.svg" alt="logo" width="42" />
    <h3 class="mt-3">InternshipM</h3>
  </div>
  <hr class="separate-line" />

  <ul class="list-unstyled components">
    <li class="active">
      <a href="#">Thông tin thực tập</a>
    </li>
    <li>
      <a href="#">Danh sách đơn vị thực tập</a>
    </li>
    <li>
      <a href="/student/register-internship">Đăng ký thực tập</a>
    </li>
    <li>
      <a href="#">Kết quả thực tập</a>
    </li>
  </ul>

  <hr class="separate-line" />
</nav>
