<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
    <a href="/">
      <img src="/img/logo-white.png" class="py-3" alt="logo" width="200px">
    </a>
  </div>
  <hr class="separate-line" />

  <ul class="list-unstyled components">
    <li class>
      <a href="/student">Thông tin thực tập</a>
    </li>
    <li>
      <a href="/student/internship-unit">Danh sách đơn vị thực tập</a>
    </li>
    <li>
      <a href="/student/register-internship">Đăng ký thực tập</a>
    </li>
  </ul>

  <hr class="separate-line" />
</nav>
