<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
    <a href="/">
      <img src="/img/logo-white.png" class="py-3" alt="logo" width="200px">
    </a>
  </div>
  <hr class="separate-line">

  <ul class="list-unstyled components">
    <li class="active">
      <a href="/teacher">Thông tin phân công</a>
    </li>
    <li>
      <a href="/teacher/core">Nhập điểm thực tập</a>
    </li>
    <li>
      <a href="#">Danh sách sinh viên thực tập</a>
    </li>
  </ul>

  <hr class="separate-line">
  
</nav>