<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
    <img src="img/employee.svg" alt="logo" width="42">
    <h3 class="mt-3">InternshipM</h3>
  </div>
  <hr class="separate-line">

  <ul class="list-unstyled components">
    <li class="active">
      <a href="#">Thông tin phân công</a>
    </li>
    <li>
      <a href="#">Nhập điểm thực tập</a>
    </li>
    <li>
      <a href="#">Danh sách sinh viên thực tập</a>
    </li>
  </ul>

  <hr class="separate-line">
  
</nav>