@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --sidebar-color: #34495e;
  --sidebar-color-hover: #2c3e50;
  --white: #ffffff;
}

body {
  font: 16px 'Roboto', sans-serif;;
}

.navbar {
  padding: 8px;
  background: #F7F7F9;
  border: none;
  border-radius: 3px;
  margin-bottom: 40px;  
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.normal-text {
  color: #89919D;
}

.separate-line {
  margin: 0 auto;
  padding: 0;
  border-top: 1px solid #e0e0e0;
  width: calc(100% - 30px);
}

.btn-collapse {
  color: var(--white);
  background-color: var(--sidebar-color);
}

.btn-collapse:hover {
  color: var(--white);
  background-color: var(--sidebar-color-hover);
}

/* Sidebar style */
.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: var(--sidebar-color);
  color: #fff;
  transition: all .5s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 16px;
  text-align: center;
}

#sidebar .sidebar-header h3 {
  font-weight: 600;
  letter-spacing: 1px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: var(--white);
  padding: 10px;
}

#sidebar ul li a {
  color: var(--white);
  opacity: .7;
  padding: 15px;
  text-decoration: none;
  display: block;
}

#sidebar ul li a:hover {
  color: var(--white);
  opacity: 1;
  background: var(--sidebar-color-hover);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: var(--white);
  opacity: 1;
  background: var(--sidebar-color-hover);
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: var(--sidebar-color-hover);
}

/* Navbar Style */
.avatar button {
  border: none;
  padding: 0;
}

.avatar .btn-img {
  border-radius: 50%;
  border: 2px solid #ddd;
}

.avatar img {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}


/* Content Style */
#content {
  width: calc(100% - 250px);
  padding: 30px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #content {
      width: 100%;
  }
  #content.active {
      width: calc(100% - 250px);
  }
  #sidebarCollapse span {
      display: none;
  }
}