<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layouts/meta') %>
</head>
<body>
  <%- include('../layouts/teacher-sidebar') %>
  
  <div id="content">

    <%- include('../layouts/navbar') %>    
    <p>index teacher</p>

  <%- include('../layouts/script') %>
</body>
</html>