<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layouts/meta') %>
</head>
<body>
  <%- include('../layouts/teacher-sidebar') %>
  
  <div id="content">

    <%- include('../layouts/navbar') %>    

    <!-- Thong tin cong ty -->
    <div class="card card-content">
      <div class="card-header">
        <h5 class="card-title">Thông tin công ty</h5>
      </div>
      <div class="card-body">
        <div class="row m-2">
          <div class="col-md-2">
            <p class="">Tên công ty</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted">TechBase Việt Nam</p>
          </div>
        </div>
        <div class="row m-2">
          <div class="col-md-2">
            <p class="">Địa chỉ</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted">10th level Saigon Centre Tower 2, 67 Đ. Lê Lợi, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</p>
          </div>
        </div>
        <div class="row m-2">
          <div class="col-md-2">
            <p class="">Tỉnh/ Thành phố</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted">TP.Hồ Chí Minh</p>
          </div>
        </div>
        <div class="row m-2">
          <div class="col-md-2">
            <p class="">Số điện thoại</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted">028 3825 1649</p>
          </div>
        </div>
        <div class="row m-2">
          <div class="col-md-2">
            <p class="">Website</p>
          </div>
          <div class="col-md-8">
            <p>
              <a href="https://www.techbase.com" class="text-muted" target="_blank">www.techbase.com</a>
            </p>
          </div>
        </div>
        <div class="row m-2">
          <div class="col-md-2">
            <p class="">Email</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted">techcome@techcome.com</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Thong tin nguoi huong dan -->
    <div class="card card-content">
      <div class="card-header">
        <h5 class="card-title">Thông tin người hướng dẫn</h5>
      </div>
      <div class="card-body">
        <div class="row m-2">
          <div class="col-md-2">
            <p class="">Họ và tên</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted">Phan Văn C</p>
          </div>
        </div>
        <div class="row m-2">
          <div class="col-md-2">
            <p class="">Email</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted">pvc@gmail.com</p>
          </div>
        </div>
        <div class="row m-2">
          <div class="col-md-2">
            <p class="">Số điện thoại</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted">0365 112 332</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Thong tin thuc tap -->
    <div class="card card-content">
      <div class="card-header">
        <h5 class="card-title">Thông tin thực tập</h5>
      </div>
      <div class="card-body">
        <div class="row m-2">
          <div class="col-md-2">
            <p class="">Trạng thái</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted">Chờ xét duyệt</p>
          </div>
        </div>
        <div class="row m-2">
          <div class="col-md-2">
            <p class="">Kết quả</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted">Chưa có</p>
          </div>
        </div>
    </div>

  </div>

  <%- include('../layouts/script') %>
</body>
</html>