<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layouts/meta') %>
</head>
<body>
  <%- include('../layouts/student-sidebar') %>
  
  <div id="content">

    <%- include('../layouts/navbar') %>    
    <div class="card border-light card-content">
      <div class="card-body">
        <h5 class="card-title mb-4">Thông tin công ty</h5>
        <div class="row">
          <div class="offset-1 col-md-2">
            <p class="black-text">Tên công ty</p>
          </div>
          <div class="col-md-8">
            <p class="grey-text">TechBase Việt Nam</p>
          </div>
        </div>
        <div class="row">
          <div class="offset-1 col-md-2">
            <p class="black-text">Địa chỉ</p>
          </div>
          <div class="col-md-8">
            <p class="grey-text">10th level Saigon Centre Tower 2, 67 Đ. Lê Lợi, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</p>
          </div>
        </div>
        <div class="row">
          <div class="offset-1 col-md-2">
            <p class="black-text">Tỉnh/ Thành phố</p>
          </div>
          <div class="col-md-8">
            <p class="grey-text">TP.Hồ Chí Minh</p>
          </div>
        </div>
        <div class="row">
          <div class="offset-1 col-md-2">
            <p class="black-text">Số điện thoại</p>
          </div>
          <div class="col-md-8">
            <p class="grey-text">028 3825 1649</p>
          </div>
        </div>
        <div class="row">
          <div class="offset-1 col-md-2">
            <p class="black-text">Website</p>
          </div>
          <div class="col-md-8">
            <a href="https://www.techbase.com" class="grey-text" target="_blank">www.techbase.com</a>
          </div>
        </div>
        <div class="row">
          <div class="offset-1 col-md-2">
            <p class="black-text">Email</p>
          </div>
          <div class="col-md-8">
            <p class="grey-text">techcome@techcome.com</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card border-light card-content">
      <div class="card-body">
        <h5 class="card-title mb-4">Thông tin người hướng dẫn</h5>
        <div class="row">
          <div class="offset-1 col-md-2">
            <p class="black-text">Họ và tên</p>
          </div>
          <div class="col-md-8">
            <p class="grey-text">Phan Văn C</p>
          </div>
        </div>
        <div class="row">
          <div class="offset-1 col-md-2">
            <p class="black-text">Email</p>
          </div>
          <div class="col-md-8">
            <p class="grey-text">pvc@gmail.com</p>
          </div>
        </div>
        <div class="row">
          <div class="offset-1 col-md-2">
            <p class="black-text">Số điện thoại</p>
          </div>
          <div class="col-md-8">
            <p class="grey-text">0365 112 332</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card border-light card-content">
      <div class="card-body">
        <h5 class="card-title mb-4">Thông tin thực tập</h5>
        <div class="row">
          <div class="offset-1 col-md-2">
            <p class="black-text">Trạng thái</p>
          </div>
          <div class="col-md-8">
            <p class="grey-text">Chờ xét duyệt</p>
          </div>
        </div>
        <div class="row">
          <div class="offset-1 col-md-2">
            <p class="black-text">Kết quả</p>
          </div>
          <div class="col-md-8">
            <p class="grey-text">Chưa có</p>
          </div>
        </div>
    </div>

  </div>

  <%- include('../layouts/script') %>
</body>
</html>