<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/meta') %>
  </head>
  <body>
    <%- include('../layouts/student-sidebar') %>

    <div id="content">
      <%- include('../layouts/navbar') %>

      <form action="/student/register-internship" method="post">
        <input type="text" name="name" />
        <input type="submit" value="Gửi" />
      </form>
    </div>

    <%- include('../layouts/script') %>
  </body>
</html>
